:root {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 4.365em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
  padding: 0 1em;
}

nav h1 img {
  vertical-align: top;
  height: 1em;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin-left: 2em;
}

header {
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 75vh;
  padding: 4em 15%;
}

header * {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

header :first-child {
  margin-top: auto;
}

main {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 2em;
}

main section {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 25vh;
  border-bottom: 1px solid #666;
  padding: 5% 0;
}

main section > * {
  flex: 1 0;
}

main section a[name] {
  position: absolute;
  top: -4.365em;
}

main section > :not(:last-child) {
  margin: 0 0 10% 0;
}

main section figure > * {
  width: 100%;
}

main section h2,
main section h3 {
  text-align: center;
}

main section img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

main section p {
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  main section {
    flex-direction: row;
  }
  main section > :not(:last-child) {
    margin: 0 10% 0 0;
  }
}

header h1, main h1 {
  font-size: 2em;
}

footer {
  background-color: #222;
  padding: 2em;
  color: white;
}

footer > * {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: inherit;
  opacity: 0.9;
}
